@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .top {
        height: 700px;
        background-image: url(img/stars1.svg), url(img/stars2.svg), url(img/star-mobale.svg);
        background-repeat: no-repeat;
        background-position: 37px 64px, 272px 557px, 187px -103px; 
    }

    .header {
        display: none;
    }

    .header-mob {
        padding-top: 147px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    
        &__title {
            color: rgb(32, 32, 39);
            font-size: 40px;
            font-weight: 700;
            line-height: 49px;
            padding-bottom: 24px;
            text-align: center;
        }
        
        &__text {
            color: rgb(32, 32, 39);
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            padding-bottom: 36px;
            text-align: center;
        }
        
        &__btn {
            box-sizing: border-box;
            border: 1px solid rgb(32, 32, 39);
            border-radius: 60px;
            background: rgb(32, 32, 39);
            color: rgb(255, 255, 255);
            font-size: 16px;
            font-weight: 600;
            line-height: 34px;
            width: 285px;
            height: 55px;
            font-family: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .games-box {
        display: none;
    }

    .mini-games-box {
        height: 3740px;
        padding-top: 48px;
    }

    .text-mini-games {    
        font-size: 40px;
        line-height: 49px;
        padding-bottom: 48px;
    }

    .mini-games {
        display: none;
    } 

    .mini-games-mob {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;
    }

    .mini-game-mob {
        grid-column: span 4;
        border-radius: 30px;
        box-shadow: 0px 11.44px 38.34px -6.87px rgba(0, 0, 0, 0.13);
        background: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;

        &__img {
            border-radius: 30px;
        }

        &__text-box {
            padding: 29px 29px 33px 29px;
            display: flex;
            flex-wrap: wrap;
            border-radius: 27.22px;
        }
    
        &__text {
    
            &_1 {
                color: rgb(32, 32, 39);
                font-size: 32px;
                font-weight: 700;
                line-height: 39px;
                padding-bottom: 16px;
            }
    
            &_2 {
                color: rgb(0, 0, 0);
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
                padding-bottom: 32px;
            }
    
            &_btn {
                box-sizing: border-box;
                border: 1px solid rgb(32, 32, 39);
                border-radius: 60px;
                background: rgb(32, 32, 39);
                color: rgb(255, 255, 255);
                font-size: 16px;
                font-weight: 600;
                line-height: 141.69%;
                text-align: center;
                width: 285px;
                height: 55px;
                font-family: inherit;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }
        }
    } 
    
    .footer {
        height: 100px;
    
        &__text {
            font-size: 16px;
            line-height: 20px;
            padding-top: 40px;
        }
    }
}

 /*
*/