@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  height: 800px;
  background: rgb(225, 255, 143);
  background-image: url(img/stars1.svg), url(img/stars2.svg), url(img/star-big.svg);
  background-repeat: no-repeat;
  background-position: 63px 69px, calc(100% - 344px) calc(100% - 149px), 100% 0;
}

.header {
  padding-top: 196px;
}
.header__title {
  color: rgb(32, 32, 39);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  padding-bottom: 24px;
}
.header__text {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  padding-bottom: 48px;
}
.header__btn {
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  width: 247px;
  height: 66px;
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__btn:hover {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.header-mob {
  display: none;
}

.animation {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  background: rgb(188, 236, 48);
}

/*конец 1 блока*/
.games-box {
  height: 1470px;
  background: rgb(32, 32, 39);
  background-image: url(img/star4.svg), url(img/star5.svg), url(img/star3.svg);
  background-repeat: no-repeat;
  background-position: 25px 770px, 40px 822px, 933px 77px;
  padding-bottom: 50px;
}

.text-box__title {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  padding-top: 94px;
  padding-bottom: 24px;
}
.text-box__text {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  padding-bottom: 72px;
}

.about-games {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
}

.about {
  grid-column: span 4;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.about__game {
  border-radius: 30px;
  box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
  overflow: hidden;
  transition: 0.7s;
}
.about__game_1-3 {
  max-height: 473px;
}
.about__game_2-5 {
  max-height: 512px;
}
.about__game_4-6 {
  max-height: 551px;
}
.about__game:hover {
  transform: scale(1.05);
  transition: 0.7s;
}
.about__img {
  width: 100%;
}

.game-text {
  margin: 32px 32px 36px;
}
.game-text__1 {
  width: 111px;
  height: 36px;
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
  color: rgb(32, 32, 39);
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}
.game-text__2 {
  color: rgb(32, 32, 39);
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
}

/* Конец 2 блока*/
.mini-games-box {
  height: 3500px;
  background: rgb(32, 32, 39);
  background-image: url(img/star6.svg), url(img/star7.svg), url(img/star8.svg), url(img/star9.svg);
  background-repeat: no-repeat;
  background-position: 1277px 93px, 1320px 126px, 1319px 3366px, 1249px 3414px;
  padding-top: 46px;
}

.text-mini-games {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  padding-bottom: 72px;
}

.mini-games {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
}

.mini-game {
  grid-column: span 12;
  border-radius: 30px;
  box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
}
.mini-game__text-box {
  padding: 48px;
  display: flex;
  flex-wrap: wrap;
}
.mini-game__text_1 {
  color: rgb(32, 32, 39);
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  padding-bottom: 24px;
}
.mini-game__text_2 {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  padding-bottom: 36px;
}
.mini-game__text_btn {
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  width: 247px;
  height: 66px;
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.mini-game__text_btn:hover {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.mini-game__img {
  border-radius: 30px;
}

.mini-games-mob {
  display: none;
}

/* Конец 3 блока */
.footer {
  height: 150px;
  background: rgb(189, 237, 53);
}
.footer__text {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
  padding-top: 60px;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    height: 700px;
    background-image: url(img/stars1.svg), url(img/stars2.svg), url(img/star-mobale.svg);
    background-repeat: no-repeat;
    background-position: 37px 64px, 272px 557px, 187px -103px;
  }
  .header {
    display: none;
  }
  .header-mob {
    padding-top: 147px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .header-mob__title {
    color: rgb(32, 32, 39);
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    padding-bottom: 24px;
    text-align: center;
  }
  .header-mob__text {
    color: rgb(32, 32, 39);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 36px;
    text-align: center;
  }
  .header-mob__btn {
    box-sizing: border-box;
    border: 1px solid rgb(32, 32, 39);
    border-radius: 60px;
    background: rgb(32, 32, 39);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 34px;
    width: 285px;
    height: 55px;
    font-family: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .games-box {
    display: none;
  }
  .mini-games-box {
    height: 3740px;
    padding-top: 48px;
  }
  .text-mini-games {
    font-size: 40px;
    line-height: 49px;
    padding-bottom: 48px;
  }
  .mini-games {
    display: none;
  }
  .mini-games-mob {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
  }
  .mini-game-mob {
    grid-column: span 4;
    border-radius: 30px;
    box-shadow: 0px 11.44px 38.34px -6.87px rgba(0, 0, 0, 0.13);
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
  }
  .mini-game-mob__img {
    border-radius: 30px;
  }
  .mini-game-mob__text-box {
    padding: 29px 29px 33px 29px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 27.22px;
  }
  .mini-game-mob__text_1 {
    color: rgb(32, 32, 39);
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    padding-bottom: 16px;
  }
  .mini-game-mob__text_2 {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 32px;
  }
  .mini-game-mob__text_btn {
    box-sizing: border-box;
    border: 1px solid rgb(32, 32, 39);
    border-radius: 60px;
    background: rgb(32, 32, 39);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 141.69%;
    text-align: center;
    width: 285px;
    height: 55px;
    font-family: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .footer {
    height: 100px;
  }
  .footer__text {
    font-size: 16px;
    line-height: 20px;
    padding-top: 40px;
  }
}
/*
*/
/*

*//*# sourceMappingURL=style.css.map */