* {
    margin: 0;
    padding: 0;
}
  
body {
    font-family: "Montserrat", sans-serif;
}
  
a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

html {  
    scroll-behavior: smooth;
}

.top {
    height: 800px;
    background: rgb(225, 255, 143);
    background-image: url(img/stars1.svg), url(img/stars2.svg), url(img/star-big.svg);
    background-repeat: no-repeat;
    background-position: 63px 69px, calc(100% - 344px) calc(100% - 149px), 100% 0;
}

.header {
    padding-top: 196px;

    &__title {
        color: rgb(32, 32, 39);
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        padding-bottom: 24px;
    }
    
    &__text {
        color: rgb(32, 32, 39);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        padding-bottom: 48px;
    }
    
    &__btn {
        box-sizing: border-box;
        border: 1px solid rgb(32, 32, 39);
        border-radius: 60px;
        background: rgb(32, 32, 39);
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 600;
        line-height: 34px;
        width: 247px;
        height: 66px;
        font-family: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__btn:hover {
        background: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
    }
}

.header-mob {
    display: none;
}

.animation-box {
    max-width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(50px);
    background: rgb(188, 236, 48);
    overflow: hidden;
    position: relative;
}

.animated-games-title {
    width: max-content;
    display: flex;
    align-items: center;
    animation: scrollLeft 30s linear infinite;
}

@keyframes scrollLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.animated-games-title__text {
    padding: 27px 49px;
    color: rgb(32, 32, 39);
    font-size: 30px;
    font-weight: 700;
    line-height: 110%;
    text-transform: uppercase;
}

.animated-games-title__star {
    padding-left: 51px;
    padding-right: 51px; 
}

.animated-games-title__star-mobile {
    display: none;
}

/*конец 1 блока*/

.games-box {
    height: 1470px;
    background: rgb(32, 32, 39);
    background-image: url(img/star4.svg), url(img/star5.svg), url(img/star3.svg);
    background-repeat: no-repeat;
    background-position: 25px 770px, 40px 822px, 933px 77px;
    padding-bottom: 50px;
}

.text-box {
    &__title {
        color: rgb(255, 255, 255);
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        padding-top: 94px;
        padding-bottom: 24px;
    }

    &__text {
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        padding-bottom: 72px;
    }
}

.about-games {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
}

.about {
    grid-column: span 4;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    
    &__game {
        border-radius: 30px;
        box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
        background: rgb(255, 255, 255);
        overflow: hidden;
        transition: 0.7s;
        
        &_1-3 {
            max-height: 473px;
        }
        
        &_2-5 {
            max-height: 512px;
        }
        
        &_4-6 {
            max-height: 551px;
        }
    }

    &__game:hover {
        transform: scale(1.05);
        transition: 0.7s;
    }

    &__img {
        width: 100%;
    }
}

.game-text {
    margin: 32px 32px 36px;

    &__1 {
        width: 111px;
        height: 36px;
        border-radius: 52.58px;
        background: rgb(247, 247, 247);
        color: rgb(32, 32, 39);
        font-size: 16px;
        font-weight: 500;
        line-height: 110%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 16px;
    }

    &__2 {
        color: rgb(32, 32, 39);
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
    }
}

 /* Конец 2 блока*/

.mini-games-box {
    height: 3500px;
    background: rgb(32, 32, 39);
    background-image: url(img/star6.svg), url(img/star7.svg), url(img/star8.svg), url(img/star9.svg);
    background-repeat: no-repeat;
    background-position: 1277px 93px, 1320px 126px, 1319px 3366px, 1249px 3414px;
    padding-top: 46px;
}

.text-mini-games {
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    padding-bottom: 72px;
}

.mini-games {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
}

.mini-game {
    grid-column: span 12;
    border-radius: 30px;
    box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
  
    &__text-box {
        padding: 48px;
        display: flex;
        flex-wrap: wrap;
    }

    &__text {

        &_1 {
            color: rgb(32, 32, 39);
            font-size: 48px;
            font-weight: 700;
            line-height: 59px;
            padding-bottom: 24px;
        }

        &_2 {
            color: rgb(32, 32, 39);
            font-size: 24px;
            font-weight: 400;
            line-height: 32px;
            padding-bottom: 36px;
        }

        &_btn {
            box-sizing: border-box;
            border: 1px solid rgb(32, 32, 39);
            border-radius: 60px;
            background: rgb(32, 32, 39);
            color: rgb(255, 255, 255);
            font-size: 24px;
            font-weight: 600;
            line-height: 34px;
            width: 247px;
            height: 66px;
            font-family: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

        &_btn:hover {
            background: rgb(255, 255, 255);
            color: rgb(0, 0, 0);
        }
    }

    &__img {
        border-radius: 30px;
    }
}

.mini-games-tab {
    display: none;
} 

.mini-games-mob {
    display: none;
} 

 /* Конец 3 блока */
  
.footer {
    height: 150px;
    background: rgb(189, 237, 53);

    &__text {
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        text-align: center;
        padding-top: 60px;
    }
}

@import 'tablet';
@import 'mobile';

 /*
    
*/